common --enable_platform_specific_config
build --incompatible_enable_cc_toolchain_resolution
build:linux --sandbox_add_mount_pair=/tmp
build:macos --sandbox_add_mount_pair=/var/tmp
build:windows --sandbox_add_mount_pair=C:\Temp
